body {
  background: #20262e;
  padding: 5px;
  font-family: Helvetica;
  font-size: 16px;
}

#output {
  font-size: 1em;
  background: rgb(221, 221, 221);
  border-radius: 2px;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  overflow:  auto;
  min-width: 44em;
}

table.tbl-2d-data {
  border-collapse: collapse;
  border: 2px solid black;
  margin: 2px auto;
}

table.tbl-2d-data th, table.tbl-2d-data td {
  border: 1px solid black;
}

table.tbl-2d-data td {
  min-width: 4em;
  background-color: #fff;
}

.color-box {
  width: 100px;
  height: 25px;
}